# Virtual environments
.venv/
env/
venv/

# IDE settings
.idea/
.vscode/

# Logs
log/

# Test files
test center/

# Build directories
build/
*.spec

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Application directories
controllers/
gui_tabs/


# Environment variables
.env
.env.local

# Other
.DS_Store